@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  background-color: #d3dfec
}

h1 {
  font-size: 32px;
  text-align: center;
}

h2 {
  font-size:26px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

p {
  font-size: 22px;
  margin: 20px;
  text-align: center;
  
  
}

a.button {
  display: inline;
  width: 200px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  }
  
.postCategory{
  font-style: italic
  
}

.header {
  background-color: #649bad;
  color: #fff;
  padding: 10px 0;
  max-width: 2000px;
}


.logo {
  font-size: 1.75rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
}
.background-container {
  display: block;
  width:75%;
  margin:auto;
  justify-content: center;
  align-items: center;
  object-fit:none;
  max-height:95vh;
  opacity: 0.7;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #99cce2;
  font-weight: 800;
  text-align: center;
  font-size: 5rem;
}

 .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
 }


.form {
  max-width: 600px;
  margin: 0 auto;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: inline;
  width: 200px;
  padding: 8px;
  background-color: #e81313;
  color: #fff;
  /* margin: 15px; */
  border-radius: 5px;
  cursor: pointer;
}
.button {
  display: inline;
  width: 200px;
  /* padding: 10px 20px; */
  background-color: #007bff;
  color: #fff;
  /* margin: 15px; */
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

button:hover {
  background-color: #b92323
}

.nav-link:hover {
  text-decoration: underline;
}
