@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  background-color: #00ABE4;
  color: #fff;
  padding: 10px 0;
}


.logo {
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
}


 .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
 }


.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  display: block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.nav-link:hover {
  text-decoration: underline;
}